
 .cntBody  {                  
    border:1px solid lightgray; 
    margin:1px;
}

.btnhdr {
    background:#80B5DA;
    height:40px;
    border-width:1px  ;
    margin:08px;
    color:black;
    width:210px   ;  
    border-width:1px;
    font-size:1.3em ;
    font-family:inherit;
    cursor: pointer;
} 

 .cntHeader {     
    height:70px;                                        
    border-width:1px;
    border-style:Solid;
    border-color:lightgray;
    margin:1px;
    margin-top:2px;
}

.bgclr{background-color: white;}

.inlblk
{
    display: inline-block;

}
.leftmrg30
{
    margin-left: 30px;

}


